.InputElement {
  width: 70%;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.Invalid {
  border: 1px solid red;
  background-color: #fda49a;
}

.Label {
  display: inline-block;
  text-align: right;
  vertical-align: middle;
}

.Row {
  padding: 10px;
}

.Center {
  width: 80%;
  padding: 5px; 
  background-color: rgb(228, 231, 231); 
  margin:auto;
  border-radius: 20px;
}

.CenterButton {
  width: 15%;
  padding-bottom: 20px; 
  margin:auto;
}