.InputElement {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
 .Invalid {
    border: 1px solid red;
    background-color: #fda49a;
}

.Label {
  width: 100%;
  margin: 1px 0;
  display: inline-block;
  text-align: left;
}