.Table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .Table td, .Table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .Table tr:nth-child(even){background-color: #f2f2f2;}
  
  .Table tr:hover {background-color: #ddd;}
  
  .Table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #703b09;
    color: white;
  }


  td a:link, td a:visited {
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding-right: 25px;
  }
  
  td a:hover, td a:active {
    background-color: green;
    color: white;
  }
  